[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
torch=">=2.4.1"
numpy=">=2.2.1"
termcolor=">=2.5.0"
fire=">=0.7.0"
requests=">=2.31.0"
python-dotenv=">=1.0.0"


[dev-packages]
ipykernel="*"


[requires]
python_version = "3.12"
